body {
  margin: 0;
  width:100%;
  background-color:#eee;
  color:black;
  font-size:16px;
}
main {
  max-width:780px;
  text-align:center;
  margin:auto;
}
h1 { 
  color:#3876A8;
  text-transform:uppercase;
}
